@use "../../../scss/colors" as *;
@use "../../../scss/animations" as *;

.projects {
  overflow-x: hidden;
  overflow-y: auto;
  .divider {
    min-height: 50vh;
    width: auto;
    background-color: $steel;
    color: $timberwolf;

    .trigger {
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 2rem;
    }

    h2 {
      font-size: 2rem;
      color: $timberwolf !important;
      background-color: inherit !important;
    }

    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      object-position: 0 0;
    }

    .link,
    a {
      color: $maize;
      cursor: pointer;
      text-decoration: none;
    }

    button {
      width: fit-content;
      align-self: center;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: $timberwolf;
      color: $onyx;

      &:focus,
      &:hover {
        background-color: lighten($timberwolf, 10%);
      }
    }
  }

  .image1,
  .image2 {
    height: 50vh;
    background-attachment: fixed;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image1 {
    background-image: url("https://user-images.githubusercontent.com/30156468/168443012-07a97953-a127-472b-934c-702196719630.png");
  }

  .image2 {
    background-image: url("https://user-images.githubusercontent.com/30156468/167709749-baf6b890-6e25-4150-b88f-840ddd2f01e5.png");
  }
}
