@use "../../../scss/colors" as *;
@use "../../../scss/animations" as *;

.projects {
  overflow-x: hidden;
  overflow-y: auto;
  .divider {
    min-height: 50vh;
    width: auto;
    background-color: $steel;
    color: $timberwolf;

    h3 {
      font-size: 2rem;
    }

    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      object-position: 0 0;
    }

    .link,
    a {
      color: $maize;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .image1,
  .image2 {
    height: 50vh;
    background-attachment: fixed;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image1 {
    background-image: url("https://user-images.githubusercontent.com/30156468/168443012-07a97953-a127-472b-934c-702196719630.png");
  }
}
