@use "../../../scss/colors" as *;

.contact {
  .content {
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $steel;
    color: $black;
  }
}
