@use "../../../scss/sizing" as *;
@use "../../../scss/colors" as *;

header {
  position: fixed;
  inset: 0;
  width: 100%;
  max-height: $header-h;
  line-height: $header-h;
  z-index: 20;
  background-color: $onyx;

  h1 {
    cursor: pointer;
    height: calc($header-h - 2vh);
    line-height: $header-h;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1vh;
  }

  span {
    color: $timberwolf;
    position: fixed;
    inset: 1vh 83vw;
  }
}

header[data-theme="light"] {
  background-color: $space-sparkle;

  h1 {
    color: $space-sparkle;
    background-color: $trans-white;
  }
  span {
    color: $raisin-black;
  }
}

header[data-theme="bright"] {
  background-color: $electric-purple;

  h1 {
    color: $white;
    background-color: $cadmium-orange;
  }
  span {
    color: $cadmium-orange;
  }
}
