@use "../../../scss/sizing" as *;
@use "../../../scss/colors" as *;
@use "../../../scss/animations" as *;

header {
  position: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 8fr 1fr 1fr;
  inset: 0;
  width: 100%;
  padding: 0 1rem;
  max-height: $header-h;
  z-index: 20;
  background-color: $onyx;

  h1 {
    position: relative;
    cursor: pointer;
    height: calc($header-h - 2vh);
    line-height: calc($header-h - 2vh);
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1vh;
    justify-self: start;
    font-size: 1.7rem;
  }

  .theme-chooser {
    position: relative;
    color: $timberwolf;
  }

  h1,
  .theme-chooser {
    &:after {
      position: absolute;
      inset: 1.5rem 0;
      content: attr(aria-label);
      font-size: 1rem;
      font-weight: 500;
      color: $maize;
      animation: fade-in ease;
      transition-delay: 500ms;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

header[data-theme="light"] {
  background-color: $space-sparkle;

  h1 {
    color: $space-sparkle;
    background-color: $trans-white;
  }

  span {
    color: $raisin-black;

    &:hover {
      box-shadow: 0 0 1rem $raisin-black;
    }
  }
}

header[data-theme="bright"] {
  background-color: $electric-purple;

  h1 {
    color: $white;
    background-color: $cadmium-orange;
  }

  span {
    color: $cadmium-orange;
    &:hover {
      box-shadow: 0 0 1rem $cadmium-orange;
    }
  }
}
