@use "../../../scss/sizing" as *;
@use "../../../scss/colors" as *;

header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: $header-h;
  line-height: $header-h;
  z-index: 10;

  h1 {
    cursor: pointer;
    height: 5rem;
    line-height: 5rem;
  }

  span {
    color: $timberwolf;
    position: fixed;
    inset: 0.5rem 75vw;
  }
}

header[data-theme="light"] {
  background-color: $space-sparkle;

  h1 {
    color: $space-sparkle;
    background-color: $trans-white;
  }
  span {
    color: $raisin-black;
  }
}
