@use "../../.././scss/colors" as *;

.about {
  .info {
    background-color: $steel;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;

    p {
      text-indent: 2ch;
    }
  }
}

.about[data-theme="light"] {
  .info {
    background-color: $laurel;
  }
}

.about[data-theme="bright"] {
  .info {
    background-color: $white;
  }
}
