@use "../../../scss/colors" as *;
.home {

  nav {
    height: fit-content;
    width: 100%;
    display: flex;
    padding-left: 20vw;
    padding-right: 10vw;
    justify-content: space-around;

  }

  img {
    height: 50vh;
    display: block;
    margin: 0 auto;
  }

}
