.home {
  .container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
      height: 50vh;
      display: block;
      margin: 0 auto;
      opacity: 0.8;
      border-radius: 1rem;
    }

    nav {
      height: 50vh;
      width: fit-content;
      display: flex;
      flex-direction: column;
      padding-left: 20vw;
      padding-right: 10vw;
      justify-content: space-around;
    }
  }
}