@use "../../../scss/colors" as *;

.hamburger-icon {
  position: absolute;
  inset: 1vh 85vw;
  height: 8vh;
  width: 8vh;
  z-index: 1000;
  cursor: pointer;
  border-radius: 1rem;
  background: $trans-white;
  &:hover {
    box-shadow: 0 0 1rem $trans-white;
  }

  .icon-1,
  .icon-2,
  .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 4vh;
    height: 0.25rem;
    background-color: $black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }

  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }

  .icon-1.open {
    transform: rotate(40deg);
  }

  .icon-2.open {
    opacity: 0;
  }

  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }

  .icon-3.open {
    transform: rotate(-40deg);
  }

  .options {
    position: absolute;
    top: 4rem;
    color: $maize;
    line-height: 2rem;
    font-size: 0.75rem;

    ul {
      padding: 0.5rem;
      background-color: $trans-black;
      border-radius: 5px;

      a {
        text-decoration: none;
        color: inherit;
      }

      li {
        list-style-type: none;
        &:hover {
          background-color: $trans-white;
        }
      }
    }
  }

  .options.closed {
    display: none;
  }

  .options.open {
    display: block;
  }

  @for $num from 1 through 3 {
    ul:nth-child(#{$num}) {
      transform-origin: top center;
      animation: rotateX ($num * 600ms) ease-in-out forwards;
    }
  }

  @keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
}

.hamburger-icon[data-theme="light"] {
  background: $russian-green;

  &:hover {
    box-shadow: 0 0 1rem $russian-green;
  }

  .icon-1,
  .icon-2,
  .icon-3 {
    background-color: $space-sparkle;
  }

  .options {
    color: $black;

    ul {
      background-color: $laurel;
    }
  }
}

.hamburger-icon[data-theme="bright"] {
  background: $cadmium-orange;

  &:hover {
    box-shadow: 0 0 1rem $selective-yellow;
  }

  .icon-1,
  .icon-2,
  .icon-3 {
    background-color: $razzmatazz;
  }

  .options {
    color: $black;

    ul {
      background-color: $selective-yellow;
    }
  }
}
