@use "./_colors" as *;
@use "./sizing" as *;
@use "./animations" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}

html,
body {
  position: relative;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  h2 {
    margin: 1rem;
  }

  height: $page-h;
  width: 100vw;
  padding-top: $header-h;
  background-color: $black;
  overflow: hidden;

  .top-space {
    height: 25vh;
  }

  nav {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
}

.page[data-theme="light"] {
  background-color: $lavender;
}

h1,
h2 {
  font-size: 2rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $maize;
  background-color: $trans-black;
}

$slide-time: 500ms;

.overlay {
  position: fixed;
  inset: 0;
  background-color: $trans-black;
  animation: $slide-time ease-in-out slide-in-from-left;
}

.modal {
  position: absolute;
  inset: 10vh 10vw;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: $steel;
  color: $white;
  animation: $slide-time ease-in-out slide-in-from-left;
  overflow-y: auto;
  outline: none;

  h2,
  h3 {
    color: $timberwolf;
    background-color: inherit;
    font-size: 1.5rem;
  }

  a {
    color: $maize;
    text-decoration: none;
    border-radius: 5px;

    &:hover,
    &:focus {
      color: lighten($maize, 10%);
      outline: $trans-white solid 2px;
    }
  }

  button {
    font-weight: 700;
  }
}

.modal.close {
  animation: calc($slide-time * 1.1) ease-in-out slide-out-to-right;
}

.modal.light {
  background-color: $laurel;
  color: $raisin-black;

  h2,
  h3 {
    color: darken($russian-green, 20%);
  }

  a {
    color: darken($russian-green, 20%);

    &:hover,
    &:focus {
      color: $white;
    }
  }

  button {
    color: $raisin-black;
    background-color: $lavender;
  }
}

.modal.header {
  inset: 25vh 20vw auto 20vw !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $trans-white;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: $trans-black;
  -webkit-border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  background: $trans-white;
}
